@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bgCrops {
  background-image: url("../assets/images/crops.jpg");
  min-height: 450px;
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3rem;
  padding-left: 4rem;
  font-size: 41px;
}
.bgAbout{
  background-image: url("../Assets/images/farm2-about.jpg");
  max-width: 780px;
}